body
{
    background: #2e2c2c;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(180, 180, 209);
    padding: 15px 30px;
    background: #757070d5;
    border-radius: 3px;
    transform: translate(-50%,-50%);
}
.container p
{
    font: 10px;
    font-weight: 600;
}

.container input
{
    border: 2px solid #303130;
    border-radius: 5px;
    height: 20px;
    background: transparent;
    color: black;
    font-weight: 400;
}
.container button
{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    background: #7d0fe4e3;
    font-size: large;
    font-weight: 500;

}
.imgbox
{
    padding: 15px;
    margin: 8px;
    margin-left: -1px;
}

#text
{
    color: #fff;
}